@{
    ViewData["Title"] = "Área Adminstrativa";
    Layout = null;

}

<h1>@ViewData["Title"]</h1>
<br><br>
<a asp-controller="Categorias" asp-action="Index">Categorias</a>
<br><br>
<a asp-controller="Produtos" asp-action="Index">Produtos</a>